.input {
  display: block;
  background-color: white;
  font-family: "korean", "english";
  width: 100%;
  height: 100%;
  border: 1px solid #ededed;
  border-radius: 7px;
  padding: 15px;
  outline: none;
  font-size: larger;
}
