.container {
  display: flex;
  /* background-color: red; */
  width: 450px;
  height: 50px;
  margin-bottom: 30px;
}

.pwInput {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  font-family: "korean", "english";
  width: 80%;
  height: 100%;
  border: 1px solid #ededed;
  border-radius: 7px 0px 0px 7px;
  padding: 15px;
  outline: none;
  font-size: larger;
}
