.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  top: 100px;
}

.signinbox {
  width: 450px;
  height: 40%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-family: "english";
  width: 100%;
  height: fit-content;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
}
.buttonContainer {
  width: fit-content;
  height: fit-content;
}
