.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.signinbox {
  margin-top: 100px;
  width: fit-content;
  font-family: "english", "korean";

  & .title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
  }
}
