.select {
  width: 450px;
  height: 50px;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 7px;
  font-family: "korean";
  font-size: larger;
  color: gray;
  text-align-last: left; /*select 태그 내 text에 margin 남기기*/
  padding-left: 15px;
}

select option[value=""][disabled] {
  display: none;
}
