.topContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.titleContainer {
  /* background-color: aqua; */
  margin-left: 10px;
  font-size: x-large;
  font-family: "korean";
}

.buttonContainer {
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  grid-gap: 10px;
  margin-right: 10px;
}

.tableContainer {
  margin-left: 50px;
  margin-right: 50px;
  max-height: 80vh;
  overflow-y: auto;
}
