.titleContainer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: x-large;
  font-family: "korean";
}

.contentContainer {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tableContainer {
  flex: 1;
  margin-right: 20px;
}

.buttonContainer {
  height: fit-content;
}
