.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.titleContainer {
  /* background-color: aqua; */
  margin-left: 10px;
  font-size: x-large;
  font-family: "korean";
}

.myLectureContainer {
  /* background-color: aqua; */
  margin-right: 10px;
}

.tableContainer {
  margin-left: 50px;
  margin-right: 50px;
}

.buttonContainer {
  height: fit-content;
}
